VITE_OAUTH_GOOGLE_URL=https://accounts.google.com/o/oauth2/v2/auth
VITE_OAUTH_GOOGLE_CLIENT_ID=257978257707-6gugoc0pof211h88nii6p1t4vjjrporv.apps.googleusercontent.com
VITE_OAUTH_GOOGLE_SCOPE=https://www.googleapis.com/auth/userinfo.email