@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aspect ratio magic */
/* TODO: replace all instances of --aspect-ratio with the aspect classes */
[style*='--aspect-ratio'] > :first-child {
  width: 100%;
}
[style*='--aspect-ratio'] > img {
  height: auto;
}
@supports (--custom: property) {
  [style*='--aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*='--aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.aspect {
  position: relative;
}
.aspect::before {
  content: '';
  display: block;
}
.aspect > :first-child {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.aspect-16-9::before {
  padding-bottom: 56.249999993%;
}
.aspect-1::before {
  padding-bottom: 100%;
}

@font-face {
  font-family: 'lithographregular';
  src: url('./ui/assets/lithograph-webfont.woff') format('woff2'),
    url('./ui/assets/lithograph-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lithographbold';
  src: url('./ui/assets/lithograph_bold-webfont.woff2') format('woff2'),
    url('./ui/assets/lithograph_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zx_spectrumregular';
  src: url('./ui/assets/zx-spectrum-webfont.woff2') format('woff2'),
    url('./ui/assets/zx-spectrum-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.help {
  @apply space-y-4;
}
.help h1 {
  @apply text-xl font-bold pb-4 mb-4 border-primary border-b-4;
}
.help h2 {
  @apply text-lg font-bold pb-4 border-primary-darkest border-b-2;
}
.help * ~ h2 {
  @apply pt-12;
}
.help h3 {
  @apply font-semibold;
}
.help h3::after {
  display: block;
  content: '';
  @apply border-secondary-darkest border-b pb-4 mr-8;
}
.help * ~ h3 {
  @apply pt-8;
}
.help h4 {
  @apply font-semibold pb-4;
}
.help * ~ h4 {
  @apply pt-8;
}
.help ol {
  @apply list-decimal list-outside ml-6 space-y-4;
}
.help ul {
  @apply list-disc list-outside ml-6 space-y-4;
}
.help li > :first-child {
  @apply pb-4;
}
/* .help li {
  @apply space-y-4;
} */
.help li > * ~ * {
  @apply text-sm;
}

.help blockquote {
  @apply py-4 bg-gray-800 px-3 italic border-gray-400 border-l-8;
}

.help a:not(.button) {
  @apply transition-colors underline;
}
.help a:not(.button):hover {
  @apply text-primary;
}
