@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aspect ratio magic */
[style*='--aspect-ratio'] > :first-child {
  width: 100%;
}
[style*='--aspect-ratio'] > img {
  height: auto;
}
@supports (--custom: property) {
  [style*='--aspect-ratio']::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*='--aspect-ratio'] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.aspect {
  position: relative;
}
.aspect::before {
  content: '';
  display: block;
}
.aspect > :first-child {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.aspect-16-9::before {
  padding-bottom: 56.249999993%;
}
.aspect-1::before {
  padding-bottom: 100%;
}

@font-face {
  font-family: 'lithographregular';
  src: url('./ui/assets/lithograph-webfont.woff') format('woff2'),
    url('./ui/assets/lithograph-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lithographbold';
  src: url('./ui/assets/lithograph_bold-webfont.woff2') format('woff2'),
    url('./ui/assets/lithograph_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'zx_spectrumregular';
  src: url('./ui/assets/zx-spectrum-webfont.woff2') format('woff2'),
    url('./ui/assets/zx-spectrum-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.help {
  @apply space-y-4;
}
.help h2 {
  @apply text-lg font-semibold pb-4 border-secondary-darkest border-b-2;
}
.help * ~ h2 {
  @apply pt-12;
}
.help ol {
  @apply list-decimal list-outside ml-6 space-y-4;
}
.help ul {
  @apply list-disc list-outside ml-6 space-y-4;
}
.help li > :first-child {
  @apply pb-4;
}
/* .help li {
  @apply space-y-4;
} */
.help li > * ~ * {
  @apply text-sm;
}
